---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<p>
  <a href="https://orcid.org/0000-0001-5923-9743"
     target="_blank" rel="noopener"
     class="btn btn--primary">
    View full record on ORCID
  </a>
</p>

{% if site.author.googlescholar %}
  <p>
    <a href="{{ site.author.googlescholar }}"
       target="_blank" rel="noopener"
       class="btn btn--primary">
      View publications on Google Scholar
    </a>
  </p>
{% endif %}

<hr />

<!--

<h2>Publications list (this site)</h2>

{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h3>{{ category[1].title }}</h3><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

-->