---
layout: archive
title: "Apresentações"
permalink: /apresentacoes/
author_profile: true
---

{% include base_path %}

## Lista de Apresentações

Aqui você encontra algumas das minhas apresentações em PDF, organizadas por data e tema.

### 2025

- [Apresentação sobre Regimes de Crescimento - Julho 2025](https://exemplo.com/pdfs/regimes_crescimento_julho2025.pdf)
- [Variedades de Capitalismo e Educação - Junho 2025](https://exemplo.com/pdfs/variedades_capitalismo_educacao_junho2025.pdf)

### 2024

- [Economia Política da Educação Superior - Novembro 2024](https://exemplo.com/pdfs/educacao_superior_nov2024.pdf)
- [Análise do Texto de Ellen Immergut - Setembro 2024](https://exemplo.com/pdfs/ellen_immergut_set2024.pdf)

---

### Organização por Categoria

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
